---
# Monitoring role handlers

- name: Restart node_exporter
  systemd:
    name: node_exporter
    state: restarted
    enabled: yes
    daemon_reload: yes

- name: Restart prometheus
  systemd:
    name: prometheus
    state: restarted
    enabled: yes

- name: Restart grafana
  systemd:
    name: grafana-server
    state: restarted
    enabled: yes

- name: Reload prometheus
  systemd:
    name: prometheus
    state: reloaded
