---
plugin: aws_ec2
regions:
  - us-east-1

filters:
  instance-state-name: running
  "tag:Project": "3-Tier-Architecture"

keyed_groups:
  # Group by environment
  - key: tags.Environment
    prefix: env
  # Group by tier
  - key: tags.Tier
    prefix: tier
  # Group by role
  - key: tags.Role
    prefix: role

hostnames:
  - private-ip-address

compose:
  ansible_host: private_ip_address
  ansible_user: "'ec2-user'"
  ansible_ssh_private_key_file: "'~/.ssh/your-key.pem'"

strict: False
